<link rel="stylesheet" type="text/css" href="images/sddm.css">
<table width="192" border="0" cellspacing="0" cellpadding="0">

  <tr>
    <td><a href="admin_desktop.php"><img src="/assets/images/back_to_home.gif" alt="Main Administration Home" width="192" height="42" border="0"></a></td>
  </tr>
  <tr>
    <td><a href="@routes.AdminController.college()"><img src="" alt="Add or delete college" width="192" height="42" border="0"></a></td>
  </tr>

  <tr>
    <td height="6"></td>
  </tr>

  <tr>
    <td height="24" align="left" class="blue_txt"><img src="/assets/images/plus.gif" width="8" height="5">&nbsp;<a href="admin_manager.php" class="blue_txt">&nbsp;Admin Profile</a></td>
  </tr>

  <tr>
    <td height="1" align="left" bgcolor="#E0E0E0"></td>
  </tr>
  
  <tr>
    <td height="24" align="left" class="blue_txt"><img src="/assets/images/plus.gif" width="8" height="5">&nbsp;<a href="categories.php" class="blue_txt">&nbsp;Manage Themes</a></td>
  </tr>

  <tr>
    <td height="1" align="left" bgcolor="#E0E0E0"></td>
  </tr>

  <tr>
    <td height="24" align="left" class="blue_txt"><img src="/assets/images/plus.gif" width="8" height="5">&nbsp;<a href="sas_quiz.php" class="blue_txt">&nbsp;Manage Quiz</a></td>
  </tr>

  <tr>
    <td height="1" align="left" bgcolor="#E0E0E0"></td>
  </tr>
  
  <tr>
    <td height="24" align="left" class="blue_txt"><img src="/assets/images/plus.gif" width="8" height="5">&nbsp;<a href="manage_moderators.php" class="blue_txt">&nbsp;Manage Moderators</a></td>
  </tr>

  <tr>
    <td height="1" align="left" bgcolor="#E0E0E0"></td>
  </tr>
  
  <tr>
    <td height="24" align="left" class="blue_txt"><img src="/assets/images/plus.gif" width="8" height="5">&nbsp;<a href="sas_forum.php" class="blue_txt">&nbsp;Manage Forum Comments</a></td>
  </tr>

  <tr>
    <td height="1" align="left" bgcolor="#E0E0E0"></td>
  </tr>
  
  <tr>
    <td height="24" align="left" class="blue_txt"><img src="/assets/images/plus.gif" width="8" height="5">&nbsp;<a href="manage_users.php" class="blue_txt">&nbsp;Manage Users</a></td>
  </tr>

  <tr>
    <td height="1" align="left" bgcolor="#E0E0E0"></td>
  </tr>
  
  <tr>
    <td height="24" align="left" class="blue_txt"><img src="/assets/images/plus.gif" width="8" height="5">&nbsp;<a href="managereadings.php" class="blue_txt">&nbsp;Manage User Readings</a></td>
  </tr>

  <tr>
    <td height="1" align="left" bgcolor="#E0E0E0"></td>
  </tr>
  
  <tr>
    <td height="24" align="left" class="blue_txt"><img src="/assets/images/plus.gif" width="8" height="5">&nbsp;<a href="manage_emails.php" class="blue_txt">&nbsp;Manage Emails</a></td>
  </tr>

  <tr>
    <td height="1" align="left" bgcolor="#E0E0E0"></td>
  </tr>
  
  <tr>
    <td height="24" align="left" class="blue_txt"><img src="/assets/images/plus.gif" width="8" height="5">&nbsp;<a href="generateAllReports.php" class="blue_txt">&nbsp;Generate Reports</a></td>
  </tr>

  <tr>
    <td height="1" align="left" bgcolor="#E0E0E0"></td>
  </tr>
  
  <tr>
    <td height="24" align="left" class="blue_txt"><img src="/assets/images/plus.gif" width="8" height="5">&nbsp;<a href="manageReports.php" class="blue_txt">&nbsp;Manage Reports</a></td>
  </tr>

  <tr>
    <td height="1" align="left" bgcolor="#E0E0E0"></td>
  </tr>
 
  <tr>
    <td height="24" align="left" class="blue_txt"><img src="/assets/images/plus.gif" width="8" height="5">&nbsp;<a href="orders.php" class="blue_txt">&nbsp;Orders</a></td>
  </tr>

  <tr>
    <td height="1" align="left" bgcolor="#E0E0E0"></td>
  </tr>

  <tr>
    <td height="24" align="left" class="blue_txt"><img src="/assets/images/plus.gif" width="8" height="5">&nbsp;<a href="orderdetails.php" class="blue_txt">&nbsp;Order Details</a></td>
  </tr>

  <tr>
    <td height="1" align="left" bgcolor="#E0E0E0"></td>
  </tr>

  <!--<tr>
    <td height="24" align="left" class="blue_txt"><img src="images/plus.gif" width="8" height="5">&nbsp;<a href="order_reports.php" class="blue_txt">&nbsp;<font color="#990000"><b>Order Reports</b></font></a></td>
  </tr>

  <tr>
    <td height="1" align="left" bgcolor="#E0E0E0"></td>
  </tr>
  
  
  <tr>
    <td height="24" align="left" class="blue_txt"><img src="images/plus.gif" width="8" height="5">&nbsp;<a href="pages.php" class="blue_txt">&nbsp;Content Pages</a></td>
  </tr>
  <tr>
    <td height="1" align="left" bgcolor="#E0E0E0"></td>
  </tr>
 
  <tr>
    <td height="1" align="left" bgcolor="#E0E0E0"></td>
  </tr>
   -->
   
</table>






